h1 {
        font-family: 'Asul', sans-serif;
   }

h2 {
        font-family: 'Catamaran', sans-serif;
   }

h3 {
        font-family: 'Asul', sans-serif;
   }

ul, li, p {
        font-family: 'Catamaran', sans-serif;
       }
