h1 {
        font-family: 'Catamaran', sans-serif;
        font-size:24px;
   }

h2 {
        font-family: 'Catamaran', sans-serif;
        font-size:20px;
   }

h3 {
        font-family: 'Catamaran', sans-serif;
        font-size:16px;
   }

ul, li, p {
        font-family: 'Catamaran', sans-serif;
        font-size:12px;
       }
