h1, h2, h3, ul, li, p {
                          padding: 5px 5px 25px 5px;
                      }

h1 {
        font-family: 'Catamaran', sans-serif;
        font-size:48px;
   }

h2 {
        font-family: 'Catamaran', sans-serif;
        font-size:40px;
   }

h3 {
        font-family: 'Catamaran', sans-serif;
        font-size:32px;
   }

ul, li, p {
        font-family: 'Catamaran', sans-serif;
        font-size:24px;
       }

.flex-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
}
